.page__body {
  margin: 0;

}

.page {
  font-family: $font-main;
  color: $color-dark;
  font-size: 16px;
  line-height: 140%;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 140%;
}
