/* #region footer */

.footer {
  background-color: $color-light;
  width: 100%;
  margin: 0;
  box-sizing: border-box;

  &__logo {
    display: block;
    width: 100%;
  }

  &__image {
    display: block;
    width: 100%;
    height: 200px;

    @include on-tablet {
      min-height: 400px;
    }
  }

  &__container {
    --columns: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 0 20px;
    padding: 56px 20px;
    margin: 0;

    @include on-tablet {
      --columns: 6;

      padding-inline: 72px;
      column-gap: 24px;
    }

    @include on-desktop {
      --columns: 12;

      max-width: 1020px;
      margin-inline: auto;
      padding-inline: 120px;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0 24px;
    grid-column: 1 / -1;

    @include on-tablet {
      font-size: 40px;
      grid-column: 1 / 4;
      margin: 0;
    }

    @include on-desktop {
      grid-column: 1 / 4;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }

  &__text {
    font-family: $font-mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
  }

  &__form {
    display: grid;
    row-gap: 16px;
    grid-column: 1 / -1;

    @include on-desktop {
      display: contents;
    }
  }




  &__subtitle {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
    grid-column: 1 / -1;

    @include on-tablet {
      font-size: 40px;
      grid-column: 1 / 5;
      margin: 120px 0 56px;
    }
  }

  &__input,
  &__textarea {
    font-family: $font-mono;
    gap: 16px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    grid-column: 1 / -1;
    background-color: $color-input;

    @include on-desktop {
      grid-column: 1 / 7;
      align-self: start;
      margin-bottom: 10px;
    }
  }

  &__textarea {
    min-height: 100px;
    resize: vertical;

    @include on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__button {
    height: 56px;
    grid-column: 1 / -1;
    margin-bottom: 48px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 700;
    background-color: $color-dark;
    color: $color-light;
    border: 2px solid rgba(240, 241, 244, 1);
    border-radius: 8px;
    cursor: pointer;

    transition: background-color 0.3s ease;

    @include on-desktop {
      grid-column: 1 / 7;
      height: 56px;
    }

    &:hover {
    background-color: $color-light;
    color: $color-dark;
    border-color: $color-dark;
  }

  &:focus {
    background-color: $color-dark;
    color: $color-light;

  }

  &:active {
    background-color: $color-dark;
    color: $color-light;

    transform: scale(0.96);
   }
  }

  &__contacts {
    row-gap: 8px;
    grid-column: 1 / -1;

    @include on-tablet {
      font-size: 16px;
      margin: 0;
    }

  @include on-desktop {
      margin-top: 0;
      grid-row: 3 / span 5;
      align-self: start;
      grid-column: 8 / 13;


      display: flex;
      flex-direction: column;
      gap: 12px;
    }

  }

  &__contact {
      font-family: $font-main;
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      color: rgba(147, 147, 163, 1);

  }

.footer__link {
    font-family: $font-mono;
  }
.footer__input:-webkit-autofill,
.footer__textarea:-webkit-autofill {
    box-shadow: 0 0 0 1000px $color-input inset !important;
    -webkit-text-fill-color: $color-dark !important;
    border: 1px solid #ccc !important;
  }

}
