
.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include on-desktop {
    height: 32px;
    width: 32px;
  }
}

.top-bar__icons {
  display: flex;
  gap: 24px;
  position: relative;

@include on-desktop {
    gap: 32px;
  }

.icon--phone-call {
  background-image: url(../images/icon-phone-call.svg);
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;

&:hover {
  transform: scale(1.2);
  color: $color-dark;
 }
}

.phone-number {
    position: absolute;
    right: 100%;
    margin-left: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 12px;
    font-weight: 700;
    color: $color-dark;
    white-space: nowrap;

  }

.icon--phone-call:hover + .phone-number {
    opacity: 0;
  }
}

.icon--burger-menu {
  background-image: url(../images/icon-burger-menu.svg);

&:hover {
  background-image: url(../images/icon-burger-menu-hover.svg);
}

}

.icon--close {
  background-image: url(../images/icon-close.svg);
}
