.menu__nav {
  margin: 5px 0 40px;

@include on-tablet {
  padding: 0 50px;

}

@include on-desktop {
  padding: 36px 100px;

 }


}




.menu__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__phone-namber {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 27px;
  color: inherit;
  text-decoration: none;
}

.menu__call-to-order {
  display: block;
  padding-bottom: 7px;
  border-bottom: 1px solid rgba(41, 41, 41, 1);
  width: fit-content;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: inherit;
  text-decoration: none;
}

.nav__link {
  position: relative;
  display: inline-block;
  font-family: 'Space Grotesk', sans-serif;
  color: inherit;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: #292929;
  transition: width 0.3s ease;
}

.nav__link:hover {
  color: #292929;
}

.nav__link:hover::after {
  width: 100%;
}

.nav__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.nav_list li::marker {
  content: none;
}
