$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$font-main: 'Space Grotesk', sans-serif;
$font-mono: 'Space Mono', monospace;
$font-size-link: 22px;
$font-size-heading: 36px;
$font-size-subheading: 32px;
$font-size-caption: 18px;
$color-dark: rgba(41, 41, 41, 1);
$color-light: rgba(255, 255, 255, 1);
$color-input: rgba(248, 248, 250, 1);
$effect-duration: 0.3s
